
<div id="schedules_container">
<% @cols.each do |key, val| %>
	<div class="time_slot">
	<p class="time_header"><%= key %></p>

	<% location_grouped_events = val.group_by(&:location)  %>
	<% location_grouped_events.keys.sort %>
	<% location_grouped_events.each do |loc, ev| %>
		<p class="location_header"><%= loc %> </p>
		<ul>
		<%  ev.each do |event| %>
			<li><a href='http://schedule.sxsw.com/<%= event.link %>'><%= event.title %> </a> </li>
			
		<% end %>
		</ul>
	
	<% end %> 

	</div>

<% end %> 
