// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li{
	list-style: none;
	padding: 10px;
	height: 60px;	
	overflow: auto;
	background:#dfdfdf;
	margin: 2px;
}

.time_slot{
	float:left;
	height:1000px;
	width:200px;
}
.time_header{
	padding: 10px;
	background: #FFF2A6;
	border-left: 1px solid #333;
}
.location_header{
	background: #FFCF00;
	padding: 10px;
	border: 1px solid #555;
	margin: 1px;
}

#schedules_container{
	width:10000px;
}